@font-face {
    font-family: 'MOSCOW2024';
    src: url('../fonts/MOSCOW2024.otf') format('woff2'),
         url('../fonts/MOSCOW2024.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    background-image: url('../img/bg.png'); /* Путь к вашей маленькой картинке */
    background-repeat: repeat; /* Повторение изображения */
    background-size: 100px 50px; /* Размер каждой маленькой картинки */
}

#header {
    background-color: #fff;
    padding: 5px 20px;
    padding-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: fixed;
    display: flex;
    width: 100%;
}

#header nav {
    display: flex;
    gap: 20px;
    position: fixed;
    padding-bottom: 25px;
}

#header nav a {
    text-decoration: none;
    color: #333;
    font-size: 1em;
}

#header nav a:hover {
    text-decoration: underline;
}

#content {
    padding: 20px;
    margin-bottom: 60px; /* Добавлено для предотвращения перекрытия футером */
}

#footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    text-align: center;
    background-color: rgba(244, 244, 244, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 35px;
}

.informer table {
    text-align: center;
    background-color: #282829;
    padding: 20px;
    border-radius: 10px;
    border: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
}

.header {
    font-size: 1em;
    margin-bottom: 10px;
    color: #cacacd;
}

.moscow-font {
    font-family: 'MOSCOW2024', sans-serif;
    color: #e21822;
    font-size: 1.2em;
    background-color: #707073;
    padding: 3px;
}

h2 {
    font-size: 0.8em;
    color: #cacacd;
}

.text-area {
    margin: 15px 0;
    padding: 5px;
    background-color: rgba(236, 235, 235, 0.2);
    border-radius: 5px;
    text-align: left;
}

.text-area.top {
    margin-top: 0;
}

.text-area.bottom {
    margin-bottom: 0;
}

.text-area.title {
    padding: 0 5px 0 5px;
}

input, select {
    text-align: center;
    width-max: 100px;
    height-max: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input {
    width: 70px;
    width-max: 100px;
    padding-top: 7px;
    padding-bottom: 7px;
}

select {
    height: 30px;
    width: 70px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 1em;
    color: #cacacd;
}

@media (max-width: 600px) {
    .price-display {
        flex-direction: column;
        align-items: flex-start;
    }

    .left-column, .right-column {
        text-align: center;
    }

    .right-column {
        margin-top: 20px;
    }
}

